html {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
    margin: 0 auto;

}
body {
  background-color: #f7f7f4;

}

.content {
  flex: 1 0 auto;
  min-height: 100vh;
}







/*.prem {
  position: relative;
  transform: translateY(20%);
  background-color: #fff;




}
*/
