/* base nav style */
.site-nav {
  background-color: #000;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.site-nav a {
text-decoration: none;
text-align: center;
color: #fff;
display: block;
padding: 10px;
}

.site-nav a:hover {
  color: #000;
  background-color: #fff;
}

/*  flex styles */
.site-nav ul {
  display: flex;
  flex-wrap: wrap;

}
.site-nav li {
  padding: 10px;

}
