
.btn {
    display: inline-block;
    border: none;
    padding: 10px 10px;
    font-size: 1.0rem;
    color: #fff;
    background-color: #000;

  }

  .btn:hover{
    display: inline-block;
      border-radius: 2px;
      padding: 10px 10px;
      font-size: 1rem;
      color: #000;
      background-color: #c7c7c9;

    }
