html {
  font-size: 100%;
  font-family: 'Rubik', sans-serif;
}




   #index  {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
    background-image: url(../images/champsbar2bw80.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #000;
  }


/*.container{
  width: 950px;
  background-color: #000;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;

} */

header {
background-color: #000;
  height: 60px;
  width: 100%;
}

.facebook{
  position: relative;
  top: -50px;
  left: 100px;
}
/* navigation menu */

.site-nav ul {
  margin: 0;
  padding: 10px 40px;


}


.site-nav li {
  margin-right: 5px;
  list-style: none;
  float: left;
  background-color: #000;

}

.site-nav a {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
}

.site-nav a:hover {
  background-color: #fff;
  color: #000;
}



.title {
  position: relative;
  transform: translate(0%,65%); /* centers title box*/
  box-sizing: border-box;
  margin: 0 auto;
  width:auto;
  height:auto;
}


.welcome {
  position: relative;
  text-align: center;
    box-sizing: border-box;
    font-size: 2.5vw;
    color: red;
    text-shadow: 1px 1px 4px #000;
    font-family: 'Petit Formal Script', cursive;
    width: 22%;
    left: 450px;
    bottom: 185px;
    /*bottom: 100px;*/
  }

.title-text h2 {
  position: relative;
  padding: 0;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Arimo', sans-serif;
  text-align: center;
  font-size: 5vw;
  color: #fff;

}

.title-text p {
  text-align: center;
  font-size: 2vw;
  font-family: 'Arimo', sans-serif;
}


  p,dl,dt,dd {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 1px;
      color: white;
      margin: 0 auto;
      text-align: justify;

  }




    /*background-image: url('../images/Shearer.jpg');
    background-repeat: no-repeat;
    width: 100%; */




footer {
  position: fixed;
  height: 60px;
  bottom: 0;
  width: 100%;
  background-color: #000;

}
/*contact us */
#map {
  position: relative;
  top: 50%
        width: 400px;
        height: 400px;
        border: solid 1px #000;
        background-color: grey;
      }



.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	zoom: 1;
}


/* contact page */

#contact  {
 position: relative;
 margin: 0;
 padding: 0;
 width: 100%;
 font-size: 15px;
 background-image: url(../images/champsbar2bw.png);
 background-size: cover;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-color: #000;
}
